
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.startScreen_mobilecontainer {
	padding: 0px 0px 0px 0px;
}
/* header_button */
#startScreen_header_button {

}
.ui-btn.startScreen_header_button {
	margin: 0px 0px 0px 0px;
}
/* filters */
#startScreen_filters {

}
.ui-btn.startScreen_filters {
	margin: 5px 0px 5px 10px;
}
/* details */
#startScreen_details {

}
.ui-btn.startScreen_details {
	margin: 4px 5px 4px 5px;
}
/* google_map */
.startScreen_google_map {
	width: 320px; height: 200px;
	margin: 4px 0px 4px 0px;
}
/* marker_3 */
.startScreen_marker_3 {
	text-shadow:none;
	color:black;
	font-family:Arial;
}
/* recenter */
#startScreen_recenter {

}
.ui-btn.startScreen_recenter {
	margin: 4px 5px 4px 5px;
}
/* drop_pin */
#startScreen_drop_pin {

}
.ui-btn.startScreen_drop_pin {
	margin: 4px 5px 4px 5px;
}
/* Output */
.startScreen_Output {
	text-decoration: none; font-weight: bold; color: #8c1519; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 0px 10px 0px 10px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_361 */
.startScreen_mobilegrid_361 {
	height: auto;
	width:100%;
	margin: 4px 20px 4px 10px;
	border-collapse: collapse;
	table-layout: fixed;
}
.startScreen_mobilegrid_361_wrapper {

}
.startScreen_mobilegrid_361 > tr > td {
	vertical-align: top;
}
.startScreen_mobilegrid_361_row_0, .startScreen_mobilegrid_361_row_0 > td {
	height: 30px
}
/* mobilegridcell_362 */
.startScreen_mobilegridcell_362 {
	height:30px !important;
	width:63px;
	padding: 2px 2px 0px 2px;
}
.startScreen_mobilegridcell_362 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_330 */
.startScreen_mobileimage_330 {
	margin: 4px 0px 4px 10px;
	width: 30px; height: 30px;
	display: block;
}
/* mobilelabel_366 */
.startScreen_mobilelabel_366 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_363 */
.startScreen_mobilegridcell_363 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 0px 0px;
}
.startScreen_mobilegridcell_363 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_333 */
.startScreen_mobileimage_333 {
	margin: 4px 0px 4px 0px;
	width: 30px; height: 30px;
	display: block;
}
/* mobilelabel_367 */
.startScreen_mobilelabel_367 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_17 */
.startScreen_mobilegrid_17 {
	height: auto;
	width:100%;
	margin: 0px 10px 0px 10px;
	border-collapse: collapse;
	table-layout: fixed;
}
.startScreen_mobilegrid_17_wrapper {

}
.startScreen_mobilegrid_17 > tr > td {
	vertical-align: top;
}
.startScreen_mobilegrid_17_row_0, .startScreen_mobilegrid_17_row_0 > td {
	height: 4px
}
/* mobilegridcell_18 */
.startScreen_mobilegridcell_18 {
	height:4px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_18 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_19 */
.startScreen_mobilegridcell_19 {
	height:4px !important;
	width:106px;
	padding: 0px 0px 0px 0px;
}
.startScreen_mobilegridcell_19 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* spin_button */
.startScreen_spin_button {
	margin: 0px 10px 0px 10px;
	width: 74px; height: 74px;
	display: block;
}
/* mobilegridcell_24 */
.startScreen_mobilegridcell_24 {
	height:4px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_24 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilefooter */
.startScreen_mobilefooter {
	min-height:38px;
}
/* filters_panel */
.startScreen_filters_panel .ui-panel-inner {
	padding: 0px 0px 0px 0px;
}
.startScreen_filters_panel:focus {
	outline: 0;
}
/* filters_header */
#startScreen_filters_header {

}
.ui-btn.startScreen_filters_header {
	margin: 0px 0px 0px 0px;
}
/* spacer_364 */
.startScreen_spacer_364 {
	width: 260px; height: 9px;
	margin: 4px 0px 4px 0px;
}
/* mobilegrid_278 */
.startScreen_mobilegrid_278 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.startScreen_mobilegrid_278_wrapper {

}
.startScreen_mobilegrid_278 > tr > td {
	vertical-align: top;
}
.startScreen_mobilegrid_278_row_0, .startScreen_mobilegrid_278_row_0 > td {
	height: 30px
}
/* mobilegridcell_279 */
.startScreen_mobilegridcell_279 {
	height:30px !important;
	width:63px;
	padding: 2px 0px 2px 0px;
}
.startScreen_mobilegridcell_279 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* one_dollar */
#startScreen_one_dollar {

}
.ui-btn.startScreen_one_dollar {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_280 */
.startScreen_mobilegridcell_280 {
	height:30px !important;
	width:66px;
	padding: 2px 0px 2px 0px;
}
.startScreen_mobilegridcell_280 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* two_dollars */
#startScreen_two_dollars {

}
.ui-btn.startScreen_two_dollars {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_283 */
.startScreen_mobilegridcell_283 {
	height:30px !important;
	width:73px;
	padding: 2px 0px 2px 0px;
}
.startScreen_mobilegridcell_283 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* three_dollars */
#startScreen_three_dollars {

}
.ui-btn.startScreen_three_dollars {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_284 */
.startScreen_mobilegridcell_284 {
	height:30px !important;
	width:auto;
	padding: 2px 0px 2px 0px;
}
.startScreen_mobilegridcell_284 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* four_dollars */
#startScreen_four_dollars {

}
.ui-btn.startScreen_four_dollars {
	margin: 4px 0px 4px 0px;
}
/* distance_menu */
.startScreen_distance_menu {
	margin: 4px 5px 4px 5px;
}
/* rating_menu */
.startScreen_rating_menu {
	margin: 4px 5px 4px 5px;
}
/* mobilecollapsblock_300 */
.startScreen_mobilecollapsblock_300 {
	margin: 4px 4px 4px 4px;
}
.startScreen_mobilecollapsblock_300 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilecheckboxgroup_303 */
.startScreen_mobilecheckboxgroup_303 {
	margin: 4px 0px 4px 0px;
}
/* mobilecheckbox_304 */
.startScreen_mobilecheckbox_304 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_305 */
.startScreen_mobilecheckbox_305 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_306 */
.startScreen_mobilecheckbox_306 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_307 */
.startScreen_mobilecheckbox_307 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_308 */
.startScreen_mobilecheckbox_308 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_309 */
.startScreen_mobilecheckbox_309 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_310 */
.startScreen_mobilecheckbox_310 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilegrid_369 */
.startScreen_mobilegrid_369 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.startScreen_mobilegrid_369_wrapper {

}
.startScreen_mobilegrid_369 > tr > td {
	vertical-align: top;
}
.startScreen_mobilegrid_369_row_0, .startScreen_mobilegrid_369_row_0 > td {
	height: 30px
}
/* mobilegridcell_370 */
.startScreen_mobilegridcell_370 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_370 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_371 */
.startScreen_mobilegridcell_371 {
	height:30px !important;
	width:71px;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_371 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* close_filters */
#startScreen_close_filters {

}
.ui-btn.startScreen_close_filters {
	margin: 4px 5px 4px 5px;
}
/* mobilegridcell_374 */
.startScreen_mobilegridcell_374 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_374 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* details_panel */
.startScreen_details_panel .ui-panel-inner {
	padding: 15px 15px 15px 15px;
}
.startScreen_details_panel:focus {
	outline: 0;
}
/* mobilegrid_389 */
.startScreen_mobilegrid_389 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.startScreen_mobilegrid_389_wrapper {

}
.startScreen_mobilegrid_389 > tr > td {
	vertical-align: top;
}
.startScreen_mobilegrid_389_row_0, .startScreen_mobilegrid_389_row_0 > td {
	height: 30px
}
/* mobilegridcell_390 */
.startScreen_mobilegridcell_390 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_390 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* reserve_table */
.startScreen_reserve_table {
	margin: 30px 0px 4px 0px;
	width: 112px; height: 34px;
	display: block;
}
/* mobilegridcell_391 */
.startScreen_mobilegridcell_391 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_391 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* opentable_logo */
.startScreen_opentable_logo {
	margin: 4px 0px 4px 0px;
	width: 114px; height: 72px;
	display: block;
}
/* mobilegrid_377 */
.startScreen_mobilegrid_377 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.startScreen_mobilegrid_377_wrapper {

}
.startScreen_mobilegrid_377 > tr > td {
	vertical-align: top;
}
.startScreen_mobilegrid_377_row_0, .startScreen_mobilegrid_377_row_0 > td {
	height: 30px
}
/* mobilegridcell_378 */
.startScreen_mobilegridcell_378 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_378 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_379 */
.startScreen_mobilegridcell_379 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_379 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* close_details */
#startScreen_close_details {

}
.ui-btn.startScreen_close_details {
	margin: 4px 5px 4px 5px;
}
/* mobilegridcell_382 */
.startScreen_mobilegridcell_382 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_382 > .cell-wrapper {
	padding: 0;
	margin: 0;
}